<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="shortcut icon" type="image" href="../img/ramo-logo.webp">
    <link rel="stylesheet" href="../css/style.css">
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
    <!-- fonts links -->
    <!-- icons links -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- icons links -->

            <!-- navbar -->
            <nav class="navbar navbar-expand-md" id="navbar">
                <!-- brand -->
                <a class="navbar-brand" href="#" id="logo"><img src="../img/ramo-logo.webp" alt="" width="50px">Ramos Hello Kitty</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span><img src="../img/menu.png" alt="" width="30px"></span>
                </button>
                <!-- navbar links -->
    
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    </li>

                <!-- dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Ramos
                    </a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Ramo Hello Kitty</a>
                        <a href="#" class="dropdown-item">Ramo Kuromi</a>
                        <a href="#" class="dropdown-item">Ramo Cinnamoroll</a>
                        <a href="#" class="dropdown-item">Ramo My Melody</a>
                        <a href="#" class="dropdown-item">Ramo Purin</a>
                    </div>
                </li>

                <!-- dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="sobre-nosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
            <!-- navbar end -->

    <!-- contacto -->
    <section class="contact" id="contact" data-aos="fade-up"
    data-aos-duration="1500">
        <div class="content-text">
            <h2>Mantengámonos en <span>Contacto</span></h2>
            <p>En caso de pedidos personlizados o pedidos mayoristas podes enviarnos tus datos de contacto a través de nuestro formulario</p>
            <p>¡Para consultas o reclamos podes contactarnos en los siguientes datos!</p>
            <div class="list">
                <li><a href="#">+54 9 00000000000000</a></li>
                <li><a href="#">ramoshellokitty@gmail.com</a></li>
                <li><a href="#">San Rafael, Mendoza</a></li>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2761.236184585521!2d-68.34473722824852!3d-34.61220907057867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96790811d9f95e6f%3A0x3eae2a249459c41b!2sAv.%20Hip%C3%B3lito%20Yrigoyen%201305%2C%20M5600%20San%20Rafael%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1733884799749!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="contact-form">
            <form action="#">
                <input type="name" placeholder="Nombre" required>
                <input type="number" placeholder="Teléfono" required>
                <input type="email" placeholder="Email" required>
                <textarea name="" id="" cols="35" rows="10" placeholder="Mensaje"></textarea>
                <input type="submit" value="Enviar" class="submit" required>

            </form>
        </div>

    </section>
    <!-- contacto end -->

<!-- footer -->
        <footer id="footer"    data-aos="fade-up"
        data-aos-duration="1500">
            <h1 class="text-center">Ramos Hello Kitty</h1>
            <p class="text-center">¡Gracias por tu visita!</p>
            <div class="icons text-center">
                <i class="bx bxl-twitter"></i>
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-google"></i>
                <i class="bx bxl-skype"></i>
                <i class="bx bxl-instagram"></i>
            </div>
            <div class="copyright text-center">
                &copy; Copyright <strong>Ramos Hello Kitty</strong> All Rights Reserved
            </div>
            <div class="credite text-center">
            </div>
        </footer>
<!-- footer end -->

<a href="#" class="arrow"><i><img src="../img/up-arrow.png" alt="" width="50px"></i></a>
</body>
</html>