<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravioles de Ricota</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Receta de Ravioles de Ricota</h1>
    <img src="../img/ravioles.jpg" width="500" height="250" alt="foto de ravioles">
    <p>El secreto de una buena pasta rellena es la masa: debe quedar flexible y elástica, pero con estructura. Las pastas rellenas son versátiles, porque se pueden combinar muchos sabores e ingredientes. Esta es una receta tradicional de ravioles, pero el uso de nuez picada, Nuez Moscada molida y Pimienta Negra molida Alicante son el toque perfecto para que la ricotta refuerce su sabor, logrando así un relleno delicioso.</p>
    <hr>
    <h2>Lista de Ingredientes</h2>
    <hr>
    <h2>Masa</h2>
    <ul>
        <li>300gr Harina</li>
        <li>3 Yemas</li>
        <li>1 Pizca de Sal</li>
        <li>1 cda de Aceite</li>
        <li>100cc de Agua</li>
        <li>2 cdas de Semolín o Harina extra</li>
    </ul>
    <h2>Relleno</h2>
    <ul>
        <li>500gr de Ricota</li>
        <li>150gr de Queso Rallado</li>
        <li>1/2 taza de Trazas</li>
        <li>1/4 cdita de Pimienta negra molida Alicante</li>
        <li>1/4 cdita de Nuez moscada molida Alicante</li>
        <li>1 Huevo</li>
    </ul>
    <hr>
    <h2>Lista de pasos</h2>
    <hr>
    <h3>Para la masa</h3>
    <ol>
        <li>Pasar la harina por un colador fino o tamiz y volcarla sobre la mesada, en el centro formar un hueco y en él colocar las yemas, la sal, el aceite y el agua.</li>
        <li>Comenzar a integrar los ingredientes empezando por los del centro y agregando de a poco la harina de los bordes.</li>
        <li>Formar una masa suave y lisa amasando por unos 10 minutos.</li>
        <li>Hacer un bollo, cubrilo con film y dejarlo descansar en la heladera 30 minutos.</li>
    </ol>
    <h3>Para relleno</h3>
    <ol>
        <li>En un bol mezclar la ricota con el queso rallado.</li>
        <li>Añadir las nueces y condimentar con sal, Pimienta Negra molida y Nuez Moscada molida Alicante.</li>
        <li>Agregar el huevo e integrarlo a la preparación para unir todos los ingredientes y formar una pasta consistente.</li>
    </ol>
    <h3>Para el armado</h3>
    <ol>
        <li>Estirar la masa bien fina, 1 mm aproximadamente. Se puede hacer con ayuda de un palo de amasar o una máquina para pastas.</li>
        <li>Sobre la mitad de la masa estirada colocar pequeños montoncitos de relleno dejando espacio entre ellos.</li>
        <li>Mojar la superficie alrededor de cada montoncito y doblar la mitad sobrante de masa colocándola cuidadosamente sobre la parte con relleno.</li>
        <li>Asegurarte de pegar bien masa con masa y que entre ellas no quede aire en el interior para que luego no se abran en la cocción.</li>
        <li>Cortar los ravioles dejando un borde en cada uno de ellos y colocarlos sobre una superficie cubierta de harina o semolín.</li>
        <li>En una olla calentar agua con sal hasta que hierva y colocar en ella los ravioles. Cocinarlos por unos 3 o 5 minutos (deben quedar al dente).</li>
        <li>Cuando estén listos colarlos y servirlos con la salsa que quieras.</li>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/iQyr2dnP_bs" title="Ravioles Caseros de Ricota (La Receta de Doña Petrona)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <a href="https://alicante.com.ar/receta/190-receta-ravioles-de-ricota/" target="_blank">
        Leer receta en <strong>Alicante</strong>
    </a>
    <br>
    <a href="Instructivo2.html">
        Leer receta de postre de <em>Cheesecake de Frutos Rojos</em>
    </a>
    <br>
    <a href="../../index.html">
        Volver al Inicio
    </a>
</body>
</html>