<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheesecake de Frutos Rojos</title>
</head>
<body>
    <h1>Receta de Cheesecake de Frutos Rojos</h1>
    <p>Los frutos rojos o frutas del bosque son bayas pequeñas muy deliciosas que, antes de cultivarse, solían crecer en arbustos silvestres. Se utilizan para todo tipo de preparaciones y postres, pues su sabor dulce y ácido los hace muy populares. Si te encantan las frutas del bosque, esta receta de cheesecake de frutos rojos se convertirá fácilmente en una de tus tartas favoritas.</p>
    <hr>
    <h2>Lista de Ingredientes</h2>
    <h2>Para la base</h2>
    <ul>
        <li>225gr de Galletas</li>
        <li>100gr de Mantequilla</li>
    </ul>
    <h2>Para el relleno</h2>
    <ul>
        <li>600gr de Queso Crema tipo Philadelphia</li>
        <li>125gr de Azúcar</li>
        <li>50ml de Nata para montar</li>
        <li>1 cda de Maicena</li>
        <li>3 Huevos</li>
    </ul>
    <h2>Para decorar</h2>
    <ul>
        <li>200gr de Mermelada de Frutos Rojos</li>
        <li>200gr de Frutos Rojos frescos</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
        <li>Prepara la base de la tarta de frutos rojos. Para ello, tritura las galletas con un robot de cocina o metiendo las galletas troceadas en una bolsa de plástico y pasando un rodillo por encima hasta hacerlas migas.</li>
        <li>Funde la mantequilla en el microondas y mezcla con las migas de galletas hasta conseguir una pasta.</li>
        <li>Engrasa un molde desmontable redondo de unos 22-24 cm y pon la base de galletas en el fondo. Aprieta con las manos las galletas para que queden bien adheridas a la base. Reserva en la nevera.</li>
        <li>Precalienta el horno a 150 ºC. En un bol amplio, coloca el queso fresco, la nata, la maicena, los huevos y el azúcar; mezcla bien. Puedes utilizar las varillas de una batidora eléctrica, pero bate solo hasta que estén integrados los ingredientes.</li>
        <li>Saca el molde de la nevera y vierte con cuidado la mezcla de queso. Hornea a 150 ºC con calor arriba y abajo durante 45 minutos. Pasado el tiempo, apaga el horno y deja que la tarta se enfríe en su interior o, por lo menos, déjala dentro del horno apagado otros 45 minutos. Saca la cheesecake de frutos del bosque y guárdala en la nevera por al menos 4 horas para que enfríe.</li>
        <li>A la hora de servir, decora con el coulis de frutos rojos por encima y con los frutos rojos frescos. Si no tienes coulis de frutos rojos, puedes prepararlo en la receta del enlace o usar mermelada. Calienta la mermelada con una cucharada de agua en el microondas y estará lista para usar.</li>
        <li>Si te queda cheesecake de frutos rojos, resérvala en la nevera hasta cuatro días como máximo. ¡Disfruta!</li>
    </ol>
    <a href="https://www.recetasgratis.net/receta-de-cheesecake-de-frutos-rojos-73941.html" target="_blank">
        Leer la receta en <strong>RecetasGratis</strong>
    </a>
    <br>
    <a href="Instructivo1.html">
        Leer receta de <em>Ravioles de Ricota</em>
    </a>
    <br>
    <a href="../../index.html">
        Volver al Inicio
    </a>
</body>
</html>